<a href="https://colab.research.google.com/github/dawitasmeroatinafu/sales-pridiction-analysis/blob/main_rep/Notebooks/data_exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount("/content/drive")

ModuleNotFoundError: No module named 'google.colab'

In [5]:
cd drive/MyDrive/week-3-files/

/content/drive/MyDrive/week-3-files

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.gridspec import GridSpec
from matplotlib import ticker
from statsmodels.tsa.stattools import adfuller, acf, pacf
from sklearn.preprocessing import MinMaxScaler
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LSTM

The following data is the training data by recorded by the comapny

In [9]:
train_df = pd.read_csv("data/train.csv", index_col=[0])
#scaler = MinMaxScaler()
train_df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
Store,,,,,,,,
1,5,2015-07-31,5263,555,1,1,0,1
2,5,2015-07-31,6064,625,1,1,0,1
3,5,2015-07-31,8314,821,1,1,0,1
4,5,2015-07-31,13995,1498,1,1,0,1
5,5,2015-07-31,4822,559,1,1,0,1

In [10]:
train_df.tail()

,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
Store,,,,,,,,
1111,2,2013-01-01,0,0,0,0,a,1
1112,2,2013-01-01,0,0,0,0,a,1
1113,2,2013-01-01,0,0,0,0,a,1
1114,2,2013-01-01,0,0,0,0,a,1
1115,2,2013-01-01,0,0,0,0,a,1